exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(RcppArmadillo)
import(RcppProgress)
import(foreach)
import(doParallel)
import(parallel)
importFrom(Matrix,nearPD)
import(iterators)
importFrom(boot,tsboot)
importFrom(RcppParallel, RcppParallelLibs)
useDynLib(mlRFinance)
