exportPattern("^[[:alpha:]]+")
import(Rcpp)
import(RcppArmadillo)
import(RcppProgress)
import(foreach)
import(doParallel)
import(parallel)
import(tsboot)
importFrom(RcppParallel, RcppParallelLibs)
useDynLib(mlRFinance)


